body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(253, 253, 253);
}

*:focus:not(.focus-visible) {
    outline: none;
}

/* .main-title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 3rem;
    color: rgb(116, 116, 116);
} */

.main-container {
    height: 516px;
    width: 350px;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 10px rgb(210, 210, 210);
}

.screen-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;

}

.screen {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: black;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    /* margin-bottom: 1rem; */
}

.screen__display {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding-left: 0.5rem;
}

.screen__content--bottom {
    font-size: 3rem;
    padding-right: 1rem;
    /* font-weight: bold; */
}

.screen__content--shrink {
    font-size: 1.75rem;
}

.screen__content--extra-shrink {
    font-size: 1.5rem;
}

.screen__content--top {
    color: rgb(116, 116, 116);
    font-size: 1rem;
    padding-right: 1rem;
}


.buttons-container {

    display: grid;
    grid-gap: 0.2rem;
    margin-top: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "clear back  divide  multiply"
                         "seven eight nine    subtract"
                         "four  five  six     add"
                         "one   two   three   equals"   
                         "zer   zer   decimal equals";
    height: 75%;
}

button {
    border: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

.button--one {
    grid-area: one;
}

.button--two {
    grid-area: two;
}

.button--three {
    grid-area: three;
}

.button--four {
    grid-area: four;
}

.button--five {
    grid-area: five;
}

.button--six {
    grid-area: six;
}

.button--seven {
    grid-area: seven;
}

.button--eight {
    grid-area: eight;
}

.button--nine {
    grid-area: nine;
}

.button--zero {
    grid-area: zer;
}

.button--equals {
    grid-area: equals;
    font-size: 2rem;
    background-color: rgba(88, 174, 255, 0.5);
}

.button--equals:hover {
    box-shadow: 0 0 5px rgba(0, 132, 255, 0.5);
    background-color: rgba(0, 132, 255, 0.5);

}

.button--equals:active:focus {
    border: 1px solid rgba(53, 104, 151, 0.9);
}

.button--add {
    grid-area: "add";
}

.button--subtract {
    grid-area: "subtract";
}

.button--back {
    grid-area: back;
    background-color: rgba(205, 221, 240, 0.8);
}

.button--back:hover {
    box-shadow: 0 0 5px rgba(174, 187, 204, 0.9);
    background-color: rgba(174, 187, 204, 0.8);
}

.button--back:active:focus {
    border: 1px solid rgb(132, 141, 151);
}


.button__icon {
    width: 2rem;
    margin-top: 7px;
}

.button--clear {
    grid-area: clear;
    font-weight: 600;
    background-color: rgba(205, 221, 240, 0.8);
}

.button--clear:hover {
    box-shadow: 0 0 5px rgba(174, 187, 204, 0.9);
    background-color: rgba(174, 187, 204, 0.8);
}

.button--clear:active:focus {
    border: 1px solid rgb(132, 141, 151);
}

.button--decimal {
    grid-area: "decimal";
}

.button--divide {
    grid-area: divide;
}

.button--multiply {
    grid-area: "multiply";
}

.button--operator {
    font-size: 2rem;
    background-color: rgba(205, 221, 240, 0.8);
}

.button--operator:hover {
    box-shadow: 0 0 5px rgba(174, 187, 204, 0.9);
    background-color: rgba(174, 187, 204, 0.8);
}

.button--operator:active:focus {
    border: 1px solid rgb(139, 150, 163);
}

.button--num {
    background-color: rgb(245, 245, 245);
    font-weight: bold;
}

.button--num:hover {
    box-shadow: 0 0 5px rgb(180, 180, 180, 0.8);
    background-color: rgba(180, 180, 180, 0.4);
}

.button--num:active:focus {
    border: 1px solid rgb(180, 180, 180); 
}

.active-numKey {
    box-shadow: 0 0 5px rgb(180, 180, 180, 0.8);
    background-color: rgba(180, 180, 180, 0.4);
    border: 1px solid rgb(180, 180, 180); 
}

.active-operatorKey {
    box-shadow: 0 0 5px rgba(174, 187, 204, 0.9);
    background-color: rgba(174, 187, 204, 0.8);
    border: 1px solid rgb(139, 150, 163);
}

.active-equalsKey {
    box-shadow: 0 0 5px rgba(0, 132, 255, 0.5);
    background-color: rgba(0, 132, 255, 0.5);
    border: 1px solid rgba(53, 104, 151, 0.9);
}