.main-container {
    height: 500px;
    width: 350px;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.screen-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;

}

.screen {
    border: 1px solid gray;
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.screen__display {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.screen__content--bottom {
    font-size: 3rem;
    padding-right: 0.5rem;
}

.screen__content--shrink {
    font-size: 1.75rem;
}

.screen__content--extra-shrink {
    font-size: 1.5rem;
}

.screen__content--top {
    color: rgb(116, 116, 116);
    font-size: 1rem;
    padding-right: 0.5rem;
}


.buttons-container {

    display: grid;
    grid-gap: 0.2rem;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "clear back  divide  multiply"
                         "seven eight nine    subtract"
                         "four  five  six     add"
                         "one   two   three   equals"   
                         "zer  zer  decimal equals";
    height: 75%;
}

button {
    border: 1px solid grey;
    font-size: 1.5rem;
}

.button--one {
    grid-area: one;
}

.button--two {
    grid-area: two;
}

.button--three {
    grid-area: three;
}

.button--four {
    grid-area: four;
}

.button--five {
    grid-area: five;
}

.button--six {
    grid-area: six;
}

.button--seven {
    grid-area: seven;
}

.button--eight {
    grid-area: eight;
}

.button--nine {
    grid-area: nine;
}

.button--zero {
    grid-area: zer;
}

.button--equals {
    grid-area: equals;
    font-size: 2rem;

}

.button--add {
    grid-area: "add";
}

.button--subtract {
    grid-area: "subtract";
}

.button--backspace {
    grid-area: back;
}

.button--clear {
    grid-area: clear;
}

.button--decimal {
    grid-area: "decimal";
}

.button--divide {
    grid-area: divide;
}

.button--multiply {
    grid-area: "multiply";
}

.button--operator {
    font-size: 2rem;
    font-weight: 100;
}
